<link href="http://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">
<script src="static/src/js/jquery-2.1.4.min.js"></script>
<script src="static/src/js/jquery.danmu.js"></script>
<script src="https://cdn.jsdelivr.net/hls.js/latest/hls.min.js"></script>
<div style="float:left; position:relative; height:360px; width:640px;">
        <video id="video" controls style="width:720px; height:480px;"></video>
</div>
<div style="padding:2px;position:relative; float:right; height:480px; width: calc( 100% - 720px );">
        <div class="ui form">
              <div class="field">
        <textarea id="chat" cols="80" rows="20"></textarea>
        <br \>
        <input id="text"  placeholder="type message">
             </div>
        </div>
</div>
<script>
if(Hls.isSupported()) {
    var video = document.getElementById('video');
    var hls = new Hls();
    hls.loadSource('http://140.125.45.186:8083/hls/12345678.m3u8');
    hls.attachMedia(video);
    hls.on(Hls.Events.MANIFEST_PARSED,function() {
        video.play();
    });
}


</script>
