<DOCTYPE html>
<html>
<head>
	{% block head %}
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<link rel="stylesheet" href="//cdn.rawgit.com/TeaMeow/TocasUI/master/dist/tocas.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href= "../static/css/base.css" >
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<title>{% block title %}{% endblock %} - 0muMDAU</title>
	{% endblock %}  
</head>
<body style="height:100%;">

		{% block top %}{% endblock %}
			{% block content %}{% endblock %}
		<script src="//cdn.rawgit.com/TeaMeow/TocasUI/master/dist/tocas.js"></script>
		{% block script %}{% endblock %}
</body>
</html>
